{% extends "portfolio/base.html" %}

{% block content %}

Hello Blog
    <meta name="viewport" content="width=device-width, initial-scale=1">
<h2> Pedro has written {{ blogs.count }} blogs {{ blogs.count |pluralize }}</h2>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{% for blog in blogs %}
    <title>Hello, world!</title>
  </head><a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.title }}</h2></a>
  <body>
<h5>{{ blog.date| date:"M d Y" | upper}}</h5>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"><p>{{ blog.description | truncatechars:100 }}</p>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>{% endfor %}

{% endblock %}